.img-background {
	background-image: url("../assets/images/fondo-redes.jpg");
	background-position: center center;  
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


/* Se recomienda iniciar el estilo CSS para movil  despues agregar @media cuando la pantalla se vaya agrandando


todo el estilo css primero:
body{}
p{}
footer{}
.clases{}
etc etc.....

y luego agregar


@media only screen and (min-width: 720px){

	body{}
	p{}
	etc etc...
	cuando la pantalla sea mayor que 720px

}



En el media query escrito aqui solo dice que cuando la pantalla sea menor de 768px se despliegue la imagen fondo-baja.jpg como background, no estoy muy seguro si esa la intencion pero si es se recomienda usar png en lugar de jpg. PNG usualmente se usa para ilustraciones y texo, JPEG es para mostra fotografias. 

*/

@media only screen and (max-device-width: 768px) {
	background: url("./assets/img/fondo-baja.jpg") center center no-repeat fixed cover;
}

.img-header {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
}

.img-link {
	/*display:inline-block;*/
	width: 40%;
	/*padding: 10%;*/
}

.nav {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

.nav li {
	display: inline-block;
	padding: 5%;
}

body {
	background-color: black;
	margin: 0%;
}

h1 {
	color: #313536;
	font-size: 320%;
}

p {
	color: #313536;
	font-size: 120%;
}
